.outer {
  background-color: var(--white);
  border: 1px solid black;
  border-radius: 7px;
  height: 15rem;
  width: 27rem;
  padding: 1.5rem;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.content h1 {
  font-size: 4rem;
  font-family: "Product Sans Medium", sans-serif;
  color: black;
  text-align: left;
  line-height: 3.5rem;
  margin: 0;
}

.content h2 {
  font-family: "Product Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: top;
  margin-top: 0.5rem;
}

.image {
  border: 1px solid black;
  border-radius: 50%;
  height: 7rem;
  width: 7em;
}
