.outer {
  padding: 4rem;
}

.img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
}

.circle {
  border: 0.5rem solid white;
  background-color: white;
  border-radius: 50%;
  position: relative;
  height: 9rem;
  width: 9rem;
}
