.outer {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 100%;
}

@media (max-width: 760px) {
  .outer {
    height: 60vh;
  }
}
