.nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 5rem;
  font-weight: 500;
  position: fixed;
  top: 0;
  background-color: #fbfbfb;
  width: 100%;
  z-index: 9999;
  box-shadow: 5px 5px 15px rgb(0 0 0 / 15%);

  /* margin-bottom: 2rem; */
}

.logo {
  width: 100%;
}

.navright {
  display: flex;
  text-decoration: none;
  align-items: center;
  padding-right: 3rem;
  flex-wrap: wrap;
}

.navitem {
  text-decoration: none;
  list-style: none;
  padding: 0 0.5rem;
  color: var(--dark);
}

.navitem:hover {
  color: var(--blue);
  text-decoration: underline;
  text-underline-offset: 1.5rem;
  text-decoration-thickness: 0.25rem;
}

@media (max-width: 1150px) {
  .navright {
    display: none;
  }

  .nav {
    justify-content: left;
    padding: 0.5rem 2rem;
    position: relative;
    margin-bottom: 0;
  }

  .logo {
    width: 50vw;
  }
}
