.noselect {
    user-select: none;
}

.button {
	border: none;
	border-radius: 8px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    margin: 0;
    padding: 0.60% 1.5% ;
    padding-right: 17%;
	cursor: pointer;
	display: flex;
	align-items: center;
	background: var(--blue);
	flex-wrap: wrap;
}

.button span {
	transition: 200ms;
}

.text {
	color: white;
    font-family: 'Product Sans';
    font-size: 1.75rem;
}

.icon {
	width: 10rem;
	position: absolute;
	transform: translateX(90%);
	display: flex;
	align-items: center;
	justify-content: center;
}

.button:hover {
    transition: 200ms;
}

.button:hover .text {
	color: transparent;
}

.button:hover .icon {
	width: 20%;
	transform: translateX(0);
}

.img {
	max-width: auto;
}