:root {
  --white: #FFFFFF;
  --dark: #202124;
  --red: #EA4335;
  --yellow: #FBBC04;
  --blue: #4285F4;
  --green: #34A853;
}

@font-face {
  font-family: "Product Sans";
  src: url('../fonts/ProductSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
  
@font-face {
  font-family: "Product Sans";
  src: url('../fonts/ProductSans-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
  
@font-face {
  font-family: "Product Sans";
  src: url('../fonts/ProductSans-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Product Sans Medium";
  src: url('../fonts/ProductSans-Medium.ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Product Sans";
  src: url('../fonts/ProductSans-MediumItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Product Sans';
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hero{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 90vh;
  width: 100%;
}

.darkBg {
  background-color: var(--dark);
  padding: 2rem;
}

.lightBg{
  background-color: #F5F5F7;
  padding: 6rem;
}

.lightBg h1{
  color: var(--dark);
}

h1{
  text-align: center;
  font-family: 'Product Sans';
  font-weight: normal;
  font-size: 3rem;
  color: var(--white);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: white;
  }
}
