:root {
  --white: #fff;
  --dark: #202124;
  --red: #ea4335;
  --yellow: #fbbc04;
  --blue: #4285f4;
  --green: #34a853;
}

@font-face {
  font-family: "Product Sans";
  src: url("/fonts/ProductSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Product Sans";
  src: url("/fonts/ProductSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Product Sans";
  src: url("/fonts/ProductSans-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  src: url("/fonts/ProductSans-Medium.ttf");
  font-family: "Product Sans Medium";
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Product Sans";
  src: url("/fonts/ProductSans-MediumItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Work Sans";
  src: url("/fonts/WorkSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url("/fonts/WorkSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans Medium";
  src: url("/fonts/WorkSans-Medium.ttf");
  font-weight: bold;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Product Sans", sans-serif;
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 90vh;
  width: 100%;
}

.darkbg {
  background-color: var(--dark);
  padding: 2rem;
}

.lightbg {
  background-color: #f5f5f7;
  padding: 2rem;
}

.about {
  background-color: #f5f5f7;
  padding: 6rem;
}

.sponsors {
  background-color: #f0c14b;
}

.lightbg h1 {
  color: var(--dark);
}

h1 {
  text-align: center;
  font-family: "Product Sans", sans-serif;
  font-weight: normal;
  font-size: 3rem;
  color: var(--white);
}

p {
  font-family: "Work Sans", sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: black;
    background: white;
  }
}
