.outer {
  display: flex;
  gap: 2rem;
  margin-bottom: 4rem;
}

.location {
  background-color: #fbbc04;
  border: 1px solid black;
  border-radius: 94px;
  padding: 0;
  padding-right: 0;
  padding-left: 0.75rem;
  height: 1.5rem;
}

.location p {
  font-size: 1rem;
  font-family: "Product Sans", sans-serif;
  font-weight: bold;
  color: black !important;
  line-height: 0.02rem;
  margin-top: 0;
  padding: 0 0.7rem;
  float: right;
}

.text {
  background-color: var(--white);
  border-radius: 12px;
  max-width: 50vw;
  padding: 2rem;
  min-height: 60vh;
  box-shadow:
    0 1px 1px rgb(0 0 0 / 5%),
    0 2px 2px rgb(0 0 0 / 5%),
    0 4px 4px rgb(0 0 0 / 5%),
    0 6px 8px rgb(0 0 0 / 5%),
    0 8px 16px rgb(0 0 0 / 5%);
}

.text p {
  text-align: justify;
  max-width: 90%;
  color: var(--textdark);
  line-height: 1.5rem;
  padding-bottom: 1rem;
}

.right {
  text-align: right;
}

.right p {
  float: right;
  text-align: right;
}

.img {
  background-color: #f2b3b9;
  border-radius: 12px;
  position: relative;
  width: 40vw;
  min-height: 60vh;
  box-shadow:
    0 1px 1px rgb(0 0 0 / 5%),
    0 2px 2px rgb(0 0 0 / 5%),
    0 4px 4px rgb(0 0 0 / 5%),
    0 6px 8px rgb(0 0 0 / 5%),
    0 8px 16px rgb(0 0 0 / 5%);
}

.vit {
  background-color: #fbbc04;
}

.gdsc {
  background-color: white;
  border-radius: 12px;
  text-align: center;
  position: absolute;
  padding: 2rem;
  margin-right: 6rem;
  padding-bottom: 0;
  overflow: visible;
  z-index: 999;
  box-shadow:
    0 1px 1px rgb(0 0 0 / 5%),
    0 2px 2px rgb(0 0 0 / 5%),
    0 4px 4px rgb(0 0 0 / 5%),
    0 6px 8px rgb(0 0 0 / 5%),
    0 8px 16px rgb(0 0 0 / 5%);
}

.gdsc h2 {
  color: var(--dark);
}

.gdsc p {
  font-family: "Work Sans", sans-serif;
  font-size: 0.99rem;
  color: var(--textdark);
  margin: auto;
  max-width: 70%;
  line-height: 130%;
}

@media (max-width: 1150px) {
  .outer {
    flex-direction: column-reverse;
    gap: 1rem;
  }

  .vitouter {
    flex-direction: column;
  }

  .text {
    max-width: 100vw;
    min-height: auto;
  }

  .img {
    float: top;
    width: auto;
    margin-top: 1rem;
  }
}

@media (max-width: 760px) {
  .outer {
    flex-direction: column-reverse;
    gap: 1rem;
  }

  .vitouter {
    flex-direction: column;
  }

  .text {
    max-width: 100vw;
    min-height: auto;
  }

  .text p {
    line-height: 1rem;
  }

  .text h2 {
    font-size: 1.5rem;
  }

  .location p {
    font-size: 0.75rem;
    margin-top: 0.2rem;
  }

  .right p {
    max-width: 95%;
  }

  .img {
    float: top;
    width: auto;
    margin-top: 1rem;
  }

  .gdsc {
    width: 90vw;
  }

  .gdsc h2 {
    font-size: 1.5rem;
  }

  .gdsc p {
    font-size: 0.78rem;
    line-height: 1rem;
    max-width: 90%;
  }
}
